/* Botão principal */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1rem;
    margin: 1rem auto; /* Centraliza horizontalmente */
    padding: 0.75rem 1.5rem;
    background-color: #1D6FB6;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #3487CF;
}

.btn:focus {
    outline: 2px solid #3487CF; /* Foco visível para acessibilidade */
    outline-offset: 2px;
}

/* Ícone dentro do botão */
.btn-icon {
    width: 1.25rem;
    height: 1.2rem;
    margin-right: 0.5rem; /* Espaçamento entre o ícone e o texto */
}

/* Botão alinhado à direita */
.contact-info {
    width: 40rem;
    margin-left: 1.5rem;
    margin-bottom: 3rem;

    .btn {
        margin: 1rem 0 0 auto; /* Remove centralização e alinha à direita */
    }
}

/* Estilos responsivos */
@media (max-width: 1600px) {
    .btn {
        font-size: 0.9rem; /* Reduz o tamanho da fonte */
        padding: 0.5rem 1rem; /* Ajusta o espaçamento interno */
    }

    .btn-icon {
        width: 1rem;
        height: 1rem; /* Reduz o tamanho do ícone */
    }

    .contact-info {
        /* width: 100%; Garante que o container ocupe toda a largura */
        margin-left: 0; /* Remove margens laterais */
    }
}

@media (max-width: 780px) {
    .btn {
        font-size: 0.8rem; /* Reduz ainda mais o tamanho da fonte */
        padding: 0.4rem 0.8rem; /* Ajusta o espaçamento interno */
    }

    .btn-icon {
        width: 0.9rem;
        height: 0.9rem; /* Ajusta o tamanho do ícone para telas menores */
    }

    .contact-info {
        /* width: 100%; Garante que o container ocupe toda a largura */
        margin-left: 0; /* Remove margens laterais */
        margin-bottom: 2rem; /* Reduz o espaçamento inferior */
    }
}