/* Importação de estilos */
@import url('fields/index.css');

/* Estilo geral do formulário */
form {
    padding: 1.5rem;
    width: 42rem;
    /* margin-left: 1.5rem; */
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 1rem;
}

label {
    font-size: 1rem;
    font-weight: bold;
    /* color: var(--text-primary); */
}

.wrapper {
    width: 100%;
    gap: 0.625rem; /* 10px -> 0.625rem */
}

.input-wrapper {
    margin-bottom: 1rem;
    /* gap: 5px; */
}

.input-field, textarea, input[type="date"], select {
    padding: 0.625rem; /* 10px -> 0.625rem */
    border: 1px solid #ccc;
    border-radius: 0.25rem; /* 4px -> 0.25rem */
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.input-field:focus, textarea:focus, input[type="date"]:focus, select:focus {
    border-color: #007BFF;
    outline: none;
}

textarea {
    resize: vertical;
    font-size: 1.2rem;
}

.flex {
    display: flex;
    gap: 1.0625rem; /* 17px -> 1.0625rem */
}

.flex-1 {
    flex: 1;
    /* width: 17rem; */
}

.flex-2 {
    flex: 2;
    width: 17rem;
}

/* Esconde o checkbox */
.toggle-checkbox {
    display: none;
    border: 1px solid #690909;
}

/* Estilo padrão da imagem */
.image-label {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.image-box,
.image-box-checked {
    margin-top: -3rem;
    width: 20rem; /* Ajuste o tamanho conforme necessário */
    height: 7rem; /* Ajuste o tamanho conforme necessário */
    display: none;
    transition: opacity 0.4s ease-in-out;
}

/* Exibe a imagem padrão */
.image-box {
    display: block;
}

/* Quando o checkbox está marcado, exibe a segunda imagem */
.toggle-checkbox:checked + .image-label .image-box {
    display: none;
}

.toggle-checkbox:checked + .image-label .image-box-checked {
    display: block;
}

/* Estilo para mensagens de erro */
.error {
    display: flex;
    align-items: center;
    gap: 0.3125rem; /* 5px -> 0.3125rem */
    color: var(--surface-disabled);
    font-size: 0.9rem;
}

.error-icon {
    width: 1rem; /* 16px -> 1rem */
    height: 1rem; /* 16px -> 1rem */
}

/* Checkboxes e termos */
.checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 0.625rem; /* 10px -> 0.625rem */
}

.checkbox-wrapper input[type="checkbox"] {
    width: 1rem; /* 16px -> 1rem */
    height: 1rem; /* 16px -> 1rem */
    cursor: pointer;
}

.checkbox-wrapper label {
    font-size: 0.9rem;
    color: #555;
}

/* Responsividade */
@media (max-width: 1600px) {
    .flex {
        width: auto;
        /* flex-direction: column; */
    }

    button {
        width: 100%;
        /* justify-content: center; */
    }
}