#app {
    background-color: var(--surface-secondary);
    display: grid;
    grid-template-columns: 38% 55.00%; /* Layout em duas colunas */
    border-radius: 3rem;
}

main {  
    display: flex;  
    position: static;
    background-color: var(--surface-primary);
    margin-left: 10rem;
    margin-top: 3rem;
    padding-left: 2rem;
    border-radius: 1rem 0 0 1rem;
    max-height: 49.50rem;
    overflow: hidden;


    .hero-icon {
        position: fixed;
        margin-top: 3rem;
        margin-left: 2rem;
        width: 2.86rem;
        height: 3rem;
        z-index: 2;
        overflow: hidden;
    }

    .hero-icon-1 {
        position: fixed;
        margin-top: 7rem;
        margin-left: 2rem;
        width: 21rem;
        height: 3.37rem;
        z-index: 2;
        overflow: hidden;
    }

  .hero-icon-2 {
        position: fixed;
        margin-top: 2rem;
        width:28rem;
        height: 45.50rem;
        border-radius: 1rem;
        z-index: 1;
        overflow: hidden;
    }

    .hero-text p {
        position: fixed;
        margin-left: 2rem;
        margin-top: 12rem;
        font: 400 .850rem/1.5 var(--font-family);
        z-index: 2;
        overflow: hidden;
    }
}

.container {
    background-color: var(--surface-primary); 
    max-width: 60.50rem;
    margin-top: 3rem; 
    padding: 3rem;
    border-radius: 0  1rem 1rem;
    overflow: auto ;/* Permite rolagem vertical */
    max-height: 94vh; /* Define uma altura máxima para ativar a rolagem */


    aside {
        background-color: var(--surface-secondary); 
        max-width: 48.50rem;
        margin-top: -1rem; 
        padding: 2rem;
        border-radius: 1rem;
    }

}

.contact {
    display: flex;
    gap: 1rem;
    
}

/* Responsividade para tablets (largura máxima de 768px) */
@media (max-width: 1630px) {
    #app {
        grid-template-columns: 1fr; /* Coluna única */
    }

    main {
        margin-left: 0;
        margin-top: 2rem;
        padding-left: 1rem;
        border-radius: 1rem;
    }

    .container {
        margin-top: 2rem;
        padding-left: 1rem;
        border-radius: 1rem;
    }

    aside {
        padding: 2rem;
    }
}

/* Responsividade para dispositivos móveis (largura máxima de 480px) */
@media (max-width: 1630px) {
    #app {
        grid-template-columns: 1fr; /* Coluna única */
    }

    main {
        margin: 1rem 0;
        padding: 1rem;
        border-radius: 0.5rem;
    }

    .container {
        margin: 1rem 0;
        padding: 1rem;
        border-radius: 0.5rem;
    }

    aside {
        padding: 1rem;
    }

    .hero-icon,
    .hero-icon-1,
    .hero-icon-2 {
        width: 100%; /* Ajusta as imagens para caberem na tela */
        height: auto;
    }

    .hero-text p {
        font-size: 0.75rem; /* Reduz o tamanho da fonte */
        margin-top: 8rem;
    }
}